NEXT_PUBLIC_SMART_CONTRACT_ADDRESS=0x1895f7EBAB5d443E35ba6b9c09d493e2CAD3d932
NEXT_PUBLIC_DEEP_LINK_SECRET=
NEXT_PUBLIC_DEEP_LINK=
NEXT_PUBLIC_TWITTER_URL=https://twitter.com/0xtorontonians
NEXT_PUBLIC_INSTAGRAM_URL=
NEXT_PUBLIC_OPENSEA_URL=https://opensea.io/collection/cryptorontonians
NEXT_PUBLIC_DAO_WALLET_ADDRESS=
NEXT_PUBLIC_ETHERSCAN=